#compiled python modules
*.pyc

#Python egg metadata for atomman
*.egg-info/
*.egg

#PyPI dist and build
dist/
build/

#Notebook checkpoints and data
Notebooks/.ipynb_checkpoints/

#Personal testing files
test/
*/test/
*/*/test/

*/test.py
*/*/test.py
