#compiled python modules
*.pyc
*.c
*.cp*
*.pyd

#Python egg metadata for atomman
*.egg-info/
*.egg

#PyPI dist and build
dist/
build/
dist-old/

#Notebook checkpoints and data
docs/*/.ipynb_checkpoints/

#pytest cache
.cache
tests/__pycache__/
tests/*/__pycache__/

#Personal testing files
testing/
*/testing/
*/*/testing/
*/testing.py
*/*/testing.py

# Upload bash script
upload_package.bash
update_cython.bash