#compiled python modules
*.pyc

#Python egg metadata for atomman
*.egg-info/
*.egg

#PyPI dist and build
dist/
build/

#Notebook checkpoints and data
docs/*/.ipynb_checkpoints/

#pytest cache
.cache
tests/__pycache__/
tests/*/__pycache__/

#Personal testing files
testing/
*/testing/
*/*/testing/
*/testing.py
*/*/testing.py

